<h1 id = "name"> Roberto Romo </h1>
<%= image_tag("me.jpg", size: "200x100", alt: "Pict")%>
</div>

<p id = "where"> Hello, I am from Los Angeles. </p>
<p id = "standing"> I am a Junior.</p>
<p id = "ff"> I like to play soccer.</p>
<p id = "learn"> I am exicted to learn what I can do with Rails. </p>